---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>{{site.prose.title}}</title>
  <link rel='shortcut icon' href='{{site.root_dir}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.root_dir}}/fonts/open-sans.css'>
  <link rel='stylesheet' href='{{site.root_dir}}/app.css'>
</head>
<body>
  <div id='container'>
    <div id="start" class="repos">
      <h1><a href="{{site.root_dir}}/">{{site.prose.title}}</a></h1>
      <p>A developers rants about PHP, JavaScript, Python, C# and other stuff.</p>
      <div id='main'>{{content}}</div>
    </div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      Made by <a href="http://developmentseed.org">Development Seed</a>, Sourcecode on <a href="http://github.com/poole/bootstrap">GitHub</a>
    </div>
  </div>
</body>
</html>
